.header__link {
  color: #2f80ed;
  bottom: 0;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.header__link:hover {
  opacity: 60%;
}
